<!DOCTYPE html>
<html>
    <head>
        <title>Express Todo App</title>
    </head>
    <body>
        <h1>Welcome to the Todo App in express js </h1>
        <script src="bundle.js"></script>
    </body>
</html>